body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #1b2130;
  color: #ffffff;
}
.dashboard {
  display: flex;
  height: 100vh;
}
.dashboard .sidebar {
  width: 250px;
  height: 100vh;
  background-color: #1f2a37;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.dashboard .sidebar h2 {
  color: #ffffff;
  margin-bottom: 60px;
  text-align: center;
}
.dashboard .sidebar nav {
  flex-grow: 1;
}
.dashboard .sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.dashboard .sidebar nav ul li {
  margin: 5px 0;
}
.dashboard .sidebar nav ul li a {
  text-decoration: none;
  color: #c7cbd7;
  padding: 10px;
  display: block;
  border-radius: 5px;
}
.dashboard .sidebar nav ul li a.active {
  background-color: #5a6479;
}
.dashboard .sidebar .admin {
  text-align: center;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.dashboard .sidebar .admin .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.dashboard .sidebar .admin #logoutButton {
  color: red;
  text-decoration: none;
  margin-top: 0;
}
.dashboard .content {
  flex-grow: 1;
  padding: 20px;
}
.dashboard .content .modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}
.dashboard .content .modal .modal-content {
  background: #2d3748;
  padding: 20px;
  border-radius: 8px;
  width: 30%;
  min-width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.dashboard .content .modal .modal-content form {
  display: flex;
  flex-direction: column;
}
.dashboard .content .modal .modal-content form label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #ffffff;
}
.dashboard .content .modal .modal-content form input[type="text"],
.dashboard .content .modal .modal-content form input[type="number"],
.dashboard .content .modal .modal-content form input[type="file"] {
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #4b5563;
  border-radius: 4px;
  background-color: #374151;
  color: white;
}
.dashboard .content .modal .modal-content form input[type="text"]:focus,
.dashboard .content .modal .modal-content form input[type="number"]:focus,
.dashboard .content .modal .modal-content form input[type="file"]:focus {
  outline: none;
  border-color: #353c46;
}
.dashboard .content .modal .modal-content form button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #5a6479;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}
.dashboard .content .modal .modal-content form button:hover {
  background-color: #8c94ac;
}
.dashboard .content .close {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 24px;
  color: #aaa;
}
.dashboard .content .close:hover {
  color: #000;
  cursor: pointer;
}
.dashboard .content .Images {
  margin-top: 5px;
}
.dashboard .content .Images .button {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
}
.dashboard .content .Images .button button {
  padding: 10px 20px;
  background-color: #1f2a37;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.dashboard .content .Images .ListImage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.dashboard .content .Images .ListImage .Image1 {
  background-color: #283647;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}
.dashboard .content .Images .ListImage .Image1 .avatar {
  width: 150px;
  height: 150px;
  width: 100% ;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 10px;
}
.dashboard .content .Images .ListImage .Image1 p {
  font-size: 14px;
  color: #ffffff;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .dashboard .content .ListImage {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .dashboard .content .ListImage {
    grid-template-columns: 1fr;
  }
}
